PORT=5000
MONGODB_URI=mongodb+srv://talentleague:65OLvEfTiV97tc56@cluster0.a3b2utv.mongodb.net/exam_portal?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_12345
GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyBGtKmQdpGpnueB6CsV7oAiiv2Zgr5ZHKE

# Email Configuration (Gmail)
EMAIL_USER=setcargood@gmail.com
EMAIL_PASS=hjazxxuwaxlvusqk

FRONTEND_URL=https://talent-league.vercel.app
BACKEND_URL=https://talent-league-api.onrender.com

# Google OAuth
GOOGLE_CLIENT_ID=222922228938-7h7qidkkibnntepkei225gb8v34sid0t.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/oauth/google/callback

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=77p6v5qq6lujzb
LINKEDIN_CLIENT_SECRET=WPL_AP1.NiCVcAqUkFkIr2vg.bnBFOw==
LINKEDIN_REDIRECT_URI=http://localhost:5000/api/auth/oauth/linkedin/callback